[submodule "lib/clap"]
	path = lib/clap
	url = https://github.com/sjoerdvankreel/clap.git
[submodule "lib/JUCE"]
	path = lib/JUCE
	url = https://github.com/sjoerdvankreel/JUCE.git
[submodule "lib/pluginterfaces"]
	path = lib/pluginterfaces
	url = https://github.com/sjoerdvankreel/vst3_pluginterfaces.git
[submodule "lib/public.sdk"]
	path = lib/public.sdk
	url = https://github.com/sjoerdvankreel/vst3_public_sdk.git
